<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Anderson Adeventures</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    </head>
    <body>
        <div id="main">
            <transition name="slide-fade">
                <div class="screen" v-if="show">
                    <div class="container">
                        <img id="logo" src="Anderson.png" alt="Anderson Adeventures">
                    </div>
                    <div class="select-player">
                        <div v-for="player, i in playerImages" @click="current = i" :class="{current:i == current}">
                            <img class="player" :src="player" >
                        </div>
                    </div>
                    <div class="stats">
                        <input ref="playername" @keyup.enter="startGameEnterKey" v-model="playerName" type="text" name="name" value="" placeholder="enter your name" autocomplete="off" :autofocus="'autofocus'">
                        <img id="start-button" v-if="playerName" @click="show = !show" src="Start.png" alt="">
                    </div>
                </div>
            </transition>

            <div class="screen">
                <div class="collection-button">
                    <div class="chevron">
                        <
                    </div>
                    <div class="monster-collection">
                        <img :class="[(defeatedMonstersCollection.includes(monster.name) ? monsterfound : monsternotfound)]" v-for="monster in allMonstersInGameArray" :src="monster.image" >
                    </div>
                </div>
                <h1>Level: {{level + 1}}</h1>
                <div class="container">
                    <div class="card">
                        <h3>{{playerName}}</h3>
                        <img :class="playerwounded" :src="playerImages[current]" alt="">
                        <p>
                            <span v-for="heart in playerStats.health">{{heart}}</span>
                        </p>
                        <p class="attack-defense">
                            <span>🗡️: {{playerStats.attack}}</span>
                            <span>🛡️: {{playerStats.defense}}</span>
                        </p>
                    </div>

                    <div class="card">
                        <h2>V</h2>
                    </div>

                    <div class="card" v-if="monsters.length">
                        <h3>{{monsters[level][randomMonster].name}}</h3>
                        <img :class="wounded" :src="monsters[level][randomMonster].image" alt="">
                        <p>
                            <span v-for="heart in monsters[level][randomMonster].hearts">{{heart}}</span>
                        </p>
                        <p class="attack-defense">
                            <span>🗡️: {{monsters[level][randomMonster].attack}}</span>
                            <span>🛡️: {{monsters[level][randomMonster].defense}}</span>
                        </p>
                    </div>
                </div>

                <div class="question-block">
                    <div class="question">
                        {{a}} {{multiplicationSymbol}} {{b}} = <input ref="usernumber" @keyup.enter="playerAnswerOutcome" v-model="userAnswer" type="number" :autofocus="'autofocus'">
                        <span class="sword" @click="playerAnswerOutcome">🗡️</span>
                    </div>
                </div>

                <div v-if="gameover" class="gameover" @click="restartGame" >
                    <div class="gameovertext">
                        {{gameOverText[winLose].lineOne}}
                    </div>
                    <div class="gameovertext">
                        {{gameOverText[winLose].lineTwo}}
                    </div>
                    <div class="defeatedmonsters">
                        <div class="defeatedmonster" v-for="monster in defeatedMonsters">
                            <img :src="monster.image" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" charset="utf-8"></script>
        <!-- <script src="/lib/vue.js" charset="utf-8"></script> -->
        <!-- <script src="/lib/axios.min.js" charset="utf-8"></script> -->
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
